$heading-font-family: "Cabin"
$body-font-family: "Cabin"
$h1-font-family: "Unbounded"
$h2-font-family: "Unbounded"
$color-background-alt: #1a4024
$body-background-color: #fcf8cc
$hero-color: #1a4024

 
$header-background: none
$header-border-bottom-width: 0
$hero-background-color: #fcf8cc
$footer-background-color: none